.wrapper {
  background: white;

  position: relative;

  max-width: 90vw;
  max-height: 80vh;
  overflow-y: auto;

  #rating-message-row {
    .msg-p {
      margin-bottom: 0;
      font-weight: bold;

      @media (max-width: 255px) {
        font-weight: normal;
      }
    }
  }

  .rating-stars-row {
    display: flex;
    justify-content: center;

    text-align: center;

    position: absolute;
    right: 0;
    left: 0;

    direction: ltr;

    .fa-star {
      cursor: pointer;

      background-clip: text !important;
      -webkit-background-clip: text !important;
      color: transparent !important;
      -webkit-text-fill-color: transparent !important;

      background: -webkit-linear-gradient(#ffe05d, #ff9642);
      background: -moz-linear-gradient(#ffe05d, #ff9642);
      background: -o-linear-gradient(#ffe05d, #ff9642);
      background: linear-gradient(#ffe05d, #ff9642);

      transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
      // transition: all 0.35s ease-in-out;
      will-change: opacity, visibility;

      @media (min-width: 355px) {
        font-size: 2.5em;
      }

      @media (max-width: 354px) {
        font-size: 2em;
      }

      @media (max-width: 306px) {
        font-size: 1.5em;
      }

      @media (max-width: 256px) {
        font-size: 1em;
      }

      @media (max-width: 207px) {
        font-size: 0.75em;
      }
    }

    .fa-star.selected {
      z-index: 1;
    }

    .fa-star.show {
      opacity: 1;
      visibility: visible;
    }

    .fa-star:not(.show) {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.modal-footer {
  .btn {
    width: 5rem;
    padding: 0.6rem !important;
  }
}
